/* FormStyleSheet.css */
label, input {
    margin-top: 10px; /* Adds 10px margin to the top */
    margin-bottom: 10px; /* Adds 10px margin to the bottom */
    margin-left: 5px; /* Adds 5px margin to the left */
    margin-right: 5px; /* Adds 5px margin to the right */
}

.textAreaContainer {
    position: relative; /* This makes it a positioning context for absolute children */
    margin: 0; /* Removes any margin */
}

.textarea{
    margin-top: 10px; /* Adds 10px margin to the top */
}

.submissionSuccess {
    color: green;
    margin-top: 10px; /* Adds 10px margin to the top */
}

.submissionError {
    color: red;
    margin-top: 10px; /* Adds 10px margin to the top */
}

/* PersonalInfoForm.css */
.personal-info-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #333;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

    .form-group label {
        align-self: flex-start;
        margin-bottom: .5em;
    }

    .form-group input[type="text"],
    .form-group input[type="date"],
    .form-group input[type="email"] {
        width: 100%;
        padding: .5em;
        border: 1px solid #ddd;
        border-radius: .25em;
    }

/* AcademicHistoryForm.css or PersonalInfoForm.css */
.academic-history-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
}

.academic-history-entry {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

    .academic-history-entry input[type="text"] {
        padding: .5em;
        margin-bottom: .5em;
        border: 1px solid #ddd;
        border-radius: .25em;
        width: 100%;
    }

    .academic-history-entry .inputs-and-remove {
        display: flex;
        flex-direction: column;
    }

    .academic-history-entry .remove-button {
        padding: .5em 1em;
        margin-top: .5em;
        border-radius: .25em; /* Rounded corners for buttons */
        align-self: flex-end; /* Aligns the button to the right */
        background: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }

.add-school-button {
    padding: .5em 1em;
    margin-top: 1em; /* Space between the last entry and this button */
    border-radius: .25em; /* Rounded corners for buttons */
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* TradeClassStandingForm.css */
.trade-class-standing-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
}

.trade-class-standing-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

    .trade-class-standing-form-group label {
        align-self: flex-start;
    }

    .trade-class-standing-form-group input[type="text"] {
        width: 100%;
        padding: 0.5em;
        margin-top: 0.5em; /* Adjust the space between the label and input */
        border: 1px solid #ddd;
        border-radius: 0.25em;
    }

/* TradeHonorsAwardsAndOrgsForm.css */
.trade-honors-awards-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    overflow: auto;
}

.trade-honors-awards-form-group {
    margin-bottom: 0;
    clear: both;
}

    .trade-honors-awards-form-group label {
        float: left;
        margin-bottom: 0.5em;
    }

    .trade-honors-awards-form-group textarea {
        width: 100%;
        padding: 0.5em;
        border: 1px solid #ddd;
        border-radius: 0.25em;
        height: 150px;
    }

.word-count {
    float: right;
    font-size: 0.8em;
    padding-top: 2em;
}
/* TradeEmploymentPlanForm.css */

.trade-employment-plan-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    overflow: auto;
}

.trade-employment-plan-form-group {
    position: relative; /* Allows absolute positioning inside this div */
    margin-bottom: 20px; /* Adjust as needed */
}

    .trade-employment-plan-form-group label {
        float: left;
        margin-bottom: 0.5em;
    }

    .trade-employment-plan-form-group textarea {
        width: 100%;
        padding: 0.5em;
        border: 1px solid #ddd;
        border-radius: 0.25em;
        height: 150px;
    }

.smallFont {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    margin-top: 5px; /* Adjust as needed for spacing */
}

